<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link rel="shortcut icon" href="/assets/favicon.ico"/>
  </head>

  <body class="h-100">
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">John's Blog</a>
      <ul class="nav justify-content-end">
        <li class="nav-item"><a class="nav-link" href="/">Blog</a></li>
        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/blog">Posts</a></li>
      </ul>
    </nav>
    <div class="jumbotron jumbotron-fluid text-center text-light">
      <div class="container">
        <h1 class="display-4">Hi There, I'm John</h1>
        <p class="lead">
          Dim-conceived glories of the brain... 
        </p>
      </div>
    </div>

    <div class="container main pb-4">
      {{ content }}
    </div>
    <!-- /.container -->
    <footer class="footer py-3 bg-secondary text-right">
      <!-- <div class="container"> -->
        <ul>
          <li><a href="mailto:huntsperger@gmail.com"><img src="/assets/mail.png"></a></li>
          <li>
            <a href="https://github.com/huelsdonk"><img src="/assets/github.png"></a>
          </li>
        </ul>
      <!-- </div> -->
    </footer>
  </body>
</html>
